@tailwind base;
@tailwind components;

@layer base {
  :root {
    --color-white: 0deg 0% 100%;
    --color-light-grey: 212deg 45% 89%;
    --color-grayish-blue: 220deg 15% 55%;
    --color-dark-blue: 218deg 44% 22%;
  }
}

html {
  overflow: auto;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

@tailwind utilities;
